@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

html {
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin: 10px 5px;
}

button {
  min-width: 70px;
  max-width: 100px;
  height: 24px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  border: 1px solid black;
  max-width: 500px;
}

.container-title {
  text-align: center;
  flex-basis: 100%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Form Styling */
.form {
  display: grid;
}

.form-element {
  display: grid;
}

.task-table {
  display: grid;
  width: 100%;
}

.task-data {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(4, 1fr);
  cursor: pointer;
}

/* Reactive Styling */
.popup {
  position: absolute;
  background: grey;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}